# Introduction to Ski-kit Learn (Sklearrn)

### Procedure to follow
1. Getting the data ready
2. Choose the right estimator(ML models)/algorithms for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluate a/the model
5. Improve a model
6. Save and load a trained model
7. Putting it all together

In [1]:
# Getting the data ready
import numpy as np
import pandas as pd
heart_disease = pd.read_csv("heart.csv")

In [2]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [39]:
heart_disease.shape

(303, 14)

In [3]:
# 1. Create X (features maxtrix --> column headers basically)
X = heart_disease.drop("target", axis=1)

# Create y (labels)
y = heart_disease['target']

In [10]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

clf.get_params()

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [11]:
# 3. Fitting the model to the training data

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2)

In [13]:
clf.fit(X_train, y_train);

In [17]:
# Making predictions
# y_label = clf.predict(np.array([0,2,3,4]))

In [16]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
32,44,1,1,130,219,0,0,188,0,0.0,2,0,2
256,58,1,0,128,259,0,0,130,1,3.0,1,2,3
159,56,1,1,130,221,0,0,163,0,0.0,2,0,3
276,58,1,0,146,218,0,1,105,0,2.0,1,1,3
108,50,0,1,120,244,0,1,162,0,1.1,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,60,0,3,150,240,0,1,171,0,0.9,2,0,2
84,42,0,0,102,265,0,0,122,0,0.6,1,0,2
167,62,0,0,140,268,0,0,160,0,3.6,0,2,2
137,62,1,1,128,208,1,0,140,0,0.0,2,0,2
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3

In [18]:
y_test

32     1
256    0
159    1
276    0
108    1
      ..
147    1
84     1
167    0
137    1
295    0
Name: target, Length: 61, dtype: int64

In [19]:
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0], dtype=int64)

In [24]:
# 4. Evaluate the model
clf.score(X_train, y_train)

1.0

In [25]:
# Evaluating the model continued
clf.score(X_test, y_test)

0.8360655737704918

In [26]:
# Another method for evaluating the model
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.71      0.85      0.77        20
           1       0.92      0.83      0.87        41

    accuracy                           0.84        61
   macro avg       0.81      0.84      0.82        61
weighted avg       0.85      0.84      0.84        61

In [27]:
confusion_matrix(y_test, y_preds)

array([[17,  3],
       [ 7, 34]], dtype=int64)

In [28]:
accuracy_score(y_test, y_preds)

0.8360655737704918

In [32]:
# 5. Improving the model
# Try different amount of n_estimators

np.random.seed(42)
for i in range(10,100,10):
    print(f'Trying model with {i} estimators...')
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, y_train)
    print(f"Model accurracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accurracy on test set: 75.41%

Trying model with 20 estimators...
Model accurracy on test set: 80.33%

Trying model with 30 estimators...
Model accurracy on test set: 81.97%

Trying model with 40 estimators...
Model accurracy on test set: 83.61%

Trying model with 50 estimators...
Model accurracy on test set: 83.61%

Trying model with 60 estimators...
Model accurracy on test set: 80.33%

Trying model with 70 estimators...
Model accurracy on test set: 83.61%

Trying model with 80 estimators...
Model accurracy on test set: 80.33%

Trying model with 90 estimators...
Model accurracy on test set: 80.33%

In [33]:
# Saving the model. To save model you can use pickle.dump

import pickle
pickle.dump(clf, open("random_forest_model1.pkl", "wb"))

In [36]:
loaded_model = pickle.load(open("random_forest_model1.pkl", 'rb'))
loaded_model.score(X_test, y_test)

0.8032786885245902

In [37]:
import sklearn

In [38]:
sklearn.show_versions()

System:
    python: 3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]
executable: C:\Users\User\Anaconda3\python.exe
   machine: Windows-10-10.0.18362-SP0

Python deps:
       pip: 19.2.3
setuptools: 41.4.0
   sklearn: 0.21.3
     numpy: 1.16.5
     scipy: 1.3.1
    Cython: 0.29.13
    pandas: 0.25.1